:root {
  --bg-color: #030303;
  --font-color: #fff;
  --secondary-color: #24b1e9;
  font-size: 62.5%;
}

@font-face {
  font-family: Agency;
  src: url(../fonts/AGENCYB.TTF);
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
}

section {
  padding: 40px 0;
}

.text-special {
  color: var(--secondary-color) !important;
}

.text-form {
  font-size: 2.25rem;
}

.text-input {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background-color: #252727;
  color: var(--font-color);
  width: 100%;
  height: 4rem;
  border: none;
  padding: 1rem;
  font-size: 1.6rem;
}

.text-input:focus-visible {
  outline-color: #24b1e931;
  box-shadow: 0 0 2em #24b1e983;
}

.btn-transparent {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.box {
  background-color: #252727;
  border-radius: 10px;
  display: block;
  padding: 3rem;
  text-align: center;
}

.box p {
  font-size: 2rem;
  letter-spacing: 0.3rem;
}

.box span {
  font-size: 1.7rem;
}

.box-info {
  background-color: #252727;
  width: 100%;
  height: 30vh;
  border-radius: 10px;

  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  font-size: 1.5rem;
  padding: 2rem;
}

.timer {
  margin-top: 5rem;
  height: 10vh;
  align-items: center;
}

.box-timer {
  display: flex;
  background-color: var(--secondary-color);
  border-radius: 5px;
}

.box-timer div {
  padding: 0 3rem;
  max-width: 25%;
  text-align: center;
}

.box-timer div:first-child {
  padding: 0 3rem 0 2rem;
}

.box-timer div:last-child {
  padding: 0 2rem 0 3rem;
}

.box-timer div span {
  color: black;
  font-size: 5rem;
  font-family: Agency, sans-serif;
}

.box-timer div p {
  font-size: 1rem;
}

.box-aline {
  background-color: #252727;
  border-radius: 4px;
  padding: 2rem 4rem;

  font-size: 2rem;
}

/* Desktop */
@media (min-width: 768px) {
  .aspas {
    margin-left: -10rem;
  }

  .form-1 {
    margin-left: -3rem;
  }

  section {
    padding: 80px 0;
  }

  .box-timer div p {
    font-size: 1.5rem;
  }

  .box-timer div span {
    font-size: 8rem;
  }

  .box {
    background-color: #252727;
    border-radius: 10px;
    display: block;
    /* position: absolute;
    left: 27.5%; */
    width: 65%;
    padding: 3rem;
    text-align: center;
  }
}

@media (min-width: 992px) {
  .img-aline {
    height: 36rem;
  }

  .box-aline {
    height: 36rem;
    background-color: #252727;

    font-size: 2.4rem;
  }
}

@media (min-width: 1200px) {
  .img-aline {
    height: 30rem;
  }

  .box-aline {
    height: 30rem;
    padding: 4rem;
  }
}

/* pg venda */
.local-data {
  margin-top: 10rem;
}

.local-data .data {
  font-size: 2.25rem;
}

.local-data .local {
  font-size: 1.8rem;
}

.investimento {
  margin-top: 6rem;
}

.investimento span {
  font-size: 3rem;
}

.investimento p {
  font-size: 2rem;
}

.btn-wpp {
  padding: 2rem;
  font-size: 2rem;
  color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.btn-wpp i {
  margin-right: 1rem;
}
